.navbar {
    background-color: #f9f9f9;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .navbar-menu li {
    margin-right: 50px;
    font-size: 25px;
  }
  
  .navbar-menu a {
    color: #230202;
    text-decoration: none;
  }
  
  .navbar-menu a:hover {
    text-decoration: underline;
    color: #c8c807;
  }
  