.container-c-p-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.input-group input {
  flex: 1;
  margin-right: 10px;
}

button {
  margin-left: auto;
}



/*-------------------------------------------------------------*/
.container-c-p-2 {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}