<br>

<div class="container-c-p-1">
  <form (submit)="searchMovies()" class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Buscar por Titulo..." [(ngModel)]="searchQuery"
        name="searchQuery">
    </div>
    <br>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Buscar por ID..." [(ngModel)]="searchId" name="searchId">
    </div>
    <br>
    <button type="submit" class="btn btn-primary mx-auto">BUSCAR</button>
  </form>
</div>

<br>


<!-- Título -->
<div *ngIf="movieApiService.movies && searchQuery.trim() !== ''">
  <div *ngFor="let movie of movieApiService.movies">
    <div class="container-c-p-2">
      <h3 style="color: white;">{{ movie.Title }}</h3>
      <p style="color: white;">Tipo: {{ movie.Type }}</p>
      <p style="color: white;">Año: {{ movie.Year }}</p>
      <img [src]="movie.Poster" alt="{{ movie.Title }} Poster">
    </div>
  </div>
</div>


<!-- ID -->
<div *ngIf="movieApiService.movieById && searchId.trim() !== ''">
  <div class="container-c-p-2">
    <h2 style="color: white;">Resultado por ID:</h2>
    <h3 style="color: white;">{{ movieApiService.movieById.Title }}</h3>
    <p style="color: white;">Tipo: {{ movieApiService.movieById.Type }}</p>
    <p style="color: white;">Año: {{ movieApiService.movieById.Year }}</p>
    <p style="color: white;">Generos: {{ movieApiService.movieById.Genre }}</p>
    <img [src]="movieApiService.movieById.Poster" alt="{{ movieApiService.movieById.Title }} Poster">
  </div>
</div>